

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin:auto;
    padding:auto;
}
html {

    font size: 15px;
    background:linear-gradient(grey,pink);
    }
 
   
#menu-nav{
    margin-top: 30px;
    border:solid rgb(145, 14, 145);
    border-width: 1px;
    height: 20px;
    letter-spacing: 5px;
}
body{
    text-align: center;
    height: 100%;
    background-position: bottom;
    background:linear-gradient(yellow pink grey);
    background-position: 0 1000px;
    background-size: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:4rem;
    text-align: center;
    
}
img{
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
   
}
h1 {
    color: rgb(67, 13, 67);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 50px;
}
h2 {
    color: rgb(84, 53, 84);
    font-weight: 500;
    letter-spacing: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 50px;
   

}
p{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
}
.btn {
    display: inline-block;
    margin-top: 70px;
    
    font-size: 40px;
}
.btn:hover{
    color: rgb(228, 153, 73);
}